<link rel="stylesheet" href="modal/css.css">
<div id="success" class="modal-header">
    <h3 class="modal-title">ยืนยันการดำเนินงาน</h3>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-md-12 br-top">
            <div class="col-md-3"><input type="text" class="form-control" ng-model="name" ng-keypress="checkKey($event)" placeholder="ใส่รหัสพนักงาน"></div>
            <div class="col-md-3"><button class="btn btn-info" ng-click="searchName()">ค้นหา</button></div>
            <div class="col-md-6"></div>
        </div>  
        <div class="col-md-12 br-top">
                <input type="text" class="form-control" ng-model="showName" disabled>
        </div>
    </div>
</div>
<div class="modal-footer center">
        <button ng-click="finSave()" class="btn btn-success">ยืนยัน</button>
    <!-- <button class="btn btn-success" type="button" ng-click="cancel()">ตกลง</button> -->
</div>